/* Background */
body {
  margin: 0;
  font-family: Arial;

  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUPZ8Hv38DtbZs2gqhTLkKT-MgbmHTHpdHVw&s") no-repeat center center/cover;

  min-height: 100vh;
}

/* Dark overlay */
.app-bg {
  background: rgba(0, 0, 0, 0.6);
  min-height: 100vh;
  padding-bottom: 20px;
}

/* Title */
.title {
  text-align: center;
  margin-top: 20px;
  color: white;
  font-size: 32px;
}

/* Cart */
.cart {
  text-align: center;
  color: white;
}

/* Search */
.search {
  display: block;
  margin: 15px auto;
  padding: 10px;
  width: 260px;
  border-radius: 20px;
  border: none;
  outline: none;
}

/* Categories */
.categories {
  text-align: center;
  margin: 10px;
}

.categories button {
  margin: 5px;
  padding: 6px 14px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background: white;
}

.active {
  background: red;
  color: white;
}

/* Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* Card */
.card {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

/* Image */
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: 0.4s;
}

/* Hover zoom */
.card:hover img {
  transform: scale(1.1);
}

/* Overlay (Zomato style) */
.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  padding: 10px;
  opacity: 0;
  transition: 0.3s;
}

/* Show overlay */
.card:hover .overlay {
  opacity: 1;
}

/* Overlay text */
.overlay h2 {
  margin: 5px 0;
}

.overlay p {
  margin: 3px 0;
}

.overlay p:nth-child(2) {
  color: gold;
  font-weight: bold;
}

/* Button */
.overlay button {
  margin-top: 5px;
  padding: 6px 12px;
  border: none;
  background: red;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

/* Button hover */
.overlay button:hover {
  background: darkred;
}